.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1.25% auto 0;
}

.header__nav {
  display: flex;
  width: 100%;
}

.header__option {
  display: flex;
  width: 100%;
}

.header__buttonsLeft,
.header__buttonsMiddle,
.header__buttonsRight {
  display: flex;
  align-items: center; /* Buttons in der Mitte vertikal ausrichten */
}

.header__buttonsLeft {
  margin-left: 2%;
  justify-content: flex-start; /* Buttons nach links ausrichten */
}

.header__buttonsMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.header__buttonsRight {
  margin-right: 2%;
  justify-content: flex-end; /* Buttons nach rechts ausrichten */
}

.header__listButton, .header__start__settings,
.header__log {
  color: black;
  border-color: black;
  margin-right: 10px;
}

.header__listButton:hover,
.header__log:hover {
  color: white;
  border-color: white;
  border-width: 3px;
}

.header__dot__divider {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__dot__divider .bi-dot {
  font-size: 24px; /* Größe des Punkt-Icons */
  color: black; /* Farbe des Punkt-Icons */
}

.header__listButton {
  position: absolute;
  white-space: nowrap;
}

.header__listButton:first-child {
  right: 50%;
  margin-right: 20px; /* Abstand zum Punkt */
}

.header__listButton:last-child {
  left: 50%;
  margin-left: 20px; /* Abstand zum Punkt */
}

@media (max-width: 768px) {
  .header__option {
    flex-direction: column;
  }
  
  .header__buttonsLeft,
  .header__buttonsMiddle,
  .header__buttonsRight {
    width: 100%;
    justify-content: space-between;
  }

  .header__buttonsMiddle {
    flex-direction: column;
    align-items: center;
  }

  .header__listButton {
    position: static;
    margin: 10px 0;
  }

  .header__dot__divider {
    margin: 10px 0;
  }
}